@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  color: #222;
  background: #222;
}

.blog {
  width: 100%;
  background: #fff;
  transform-origin: left top;
  transition: all 0.5s linear;
}

.blog.active {
  transform: rotate(-20deg);
}

.container {
  max-width: 1100px;
  width: 90%;
  padding: 50px 0;
  margin: auto;
}

.blog__author {
  font-weight: 500;
  color: #666;
  font-size: 16px;
  margin-bottom: 30px;
  font-style: italic;
}

h4 {
  margin-top: 20px;
  font-size: 18px;
}

p {
  font-size: 15px;
}

.blog__img {
  margin: 10px 0;
  width: 100%;
}

.circular-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: rgb(50, 48, 179);
  transform-origin: center;
  transform: translate(-50%, -50%);
  transition: all 0.5s linear;
}

.circular-navbar.active {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.menu {
  position: absolute;
  font-size: 35px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-open {
  top: 70%;
  right: 30%;
  transform: translate(50%, -50%);
}

.menu-close {
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.menu-close ion-icon {
  --ionicon-stroke-width: 35px;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 30px;
  transform: translate(-200%);
  transition: all 0.5s linear;
  transition-delay: 0.1s;
}

.navbar.active {
  transform: translate(0);
}

.navbar li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  margin: 40px 15px;
  color: #fff;
  font-weight: 400;
  transition: all 0.3s;
}

.navbar.active li:nth-of-type(2) {
  transform: translateX(20px);
  transition-delay: 0.4s;
}

.navbar.active li:nth-of-type(3) {
  transform: translateX(40px);
  transition-delay: 0.5s;
}

.navbar li ion-icon {
  font-size: 20px;
  margin-right: 20px;
}
